@page
@model IndexModel
@{
    ViewData["Title"] = "Dashboard";
}

<h2>Welcome @Model.Caption</h2>
@if(Model.Issues.Count == 0)
{
   <h3>Congratulations! You have no open issues!</h3>
}
<ul class="list-unstyled">
    @foreach (var issue in Model.Issues)
    {
        <li class="alert alert-info">
            <span>@issue.Description</span>
            <a class="btn btn-primary" asp-page="Details" asp-route-id="@issue.Id">Detals</a>
            
        </li>
    }

</ul>
<a asp-page="Create" class="btn btn-primary">Add a new Issue</a>

